<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body style="background-color:#26273b;">

            <h1 style="color: white; text-align: center;">Jamia Hamdard Faculty Data Scraper</h1>
            <nav style="text-align: center;">
                <a style="color: #198ec1;" href="/">HOME</a>
                <a style="color: #198ec1;" href="about">ABOUT</a>        
            </nav>
            <br>
        <h1 style="text-align: center; color: white;">About Us</h1>
        <h3><a href="/">Go back</a></h3>
        <hr>
        <br>
        <div style="width: auto;
        padding: 10px;
        border: 5px solid #bf71ff;
                margin: 0;">

            <h2 style="color: white;">This is a minor project in which we scrape our college Jamia Hamdard's department faculty and 
                download the details in an Excel file with the columns: Name, Designation and Email.
                Using Python 3 with built in library of Beautiful Soup4 and with the help of Html, Css and Django
                
            </h2>
            
        </div>
        <br>
        <br>
        <br>


        <div style="width: 1000px;
        padding: 10px;
        border: 5px solid #bf71ff;
                margin: 0;"> 
                <h2 style="color: white;">    Minor Project : Jamia Hamdard Faculty Data Scraper<br><br>
                        Name: Mohd Abdullah Khan<br><br>
                        Subject: BTCSE 601 <br><br>
                        En. No: 2017-310-078<br><br>
                </h2>


        </div>
    </body>
</html>